{% extends "root.html" %}
{% block title %} Cart {%  endblock %}
{% block content %}
    <div class="card">
        {% for product in products %}
            <div class="horizontal-card">
                <div><img src="/static/images/product_{{ product.product_id }}.jpg" alt=""></div>
                <div><h2>{{ product.name }}</h2></div>
                <div><button class="remove-button">Remove</button></div>
            </div>
        {% endfor %}
        <h2>Total: <p>{{ total }} Lei</p></h2>
        <a href="{{ url_for("checkout_route", total=total) }}"><button>Checkout</button></a>
    </div>
{% endblock %}