{% extends "root.html" %}
{% block title %} Contact {%  endblock %}
{% block content %}
<div class="card">
    <h1 class="display-5">Contact</h1>
    <br>
    <h6 class="display-8"><strong>Punct de lucru: </strong>Tei - Str. Turnatorilor nr.16, sector 2, Bucuresti</h6>
    <h6 class="display-8"><strong>Program de lucru: </strong>L-V 8:00 - 20:00</h6>
    <h6 class="display-8"><strong>Email: </strong><a href="mailto: mail@domndoctor.ro">mail@domndoctor.ro</a></h6>
    <h6 class="display-8"><strong>Telefon: </strong>021 3205567 <strong> Fax: </strong>021 4503569</h6>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2847.7872227881317!2d26.113321715795923!3d44.45803410803138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f8ba34e56d53%3A0xabff10648a9868d9!2sStrada%20Turn%C4%83torilor%2016%2C%20Bucure%C8%99ti%2023748!5e0!3m2!1sen!2sro!4v1639822707885!5m2!1sen!2sro" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
{% endblock %}