{% extends "root.html" %}
{% block title %} Home {%  endblock %}
{% block navbar_login_buttons %}
    {% if username %}
        <li class="right-items"><a href="{{ url_for("user_profile", user_id=user_id) }}">{{ username }}</a></li>
    {% else %}
        <li class="right-items"><a href="{{ url_for("login") }}">Login</a></li>
        <li class="right-items"><a href="{{ url_for("register") }}">Register</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class ="live_slider">
        <div class="arrow-btn next-btn" id="previous-arrow"> </div>
        <div class="arrow-btn prev_btn" id="next-arrow"> </div>
    </div>
    <div class="products-container">
        <div id="sub-title">
            <h2>Products</h2>
        </div>
        <div id="products-collection">
        </div>
    </div>


{% endblock %}