{% extends "root.html" %}
{% block title %} Home {% endblock %}
{% block head %}
    <script type="module" src="/static/javascript/home_page.js" async></script>
{% endblock %}
{% block content %}
    <div class ="live_slider">
        <div class="arrow-btn next-btn" id="previous-arrow"> </div>
        <div class="arrow-btn prev_btn" id="next-arrow"> </div>
    </div>
    <div>
        <label>Select a category</label>
        <select id = "categorySorter">


                    <option value='0' selected="selected">All</option>


                {% for category in categories %}

                        <option value="{{ category.id }}">{{ category.name }}</option>

                {% endfor %}
            </select>
        <label>Select a supplier</label>
        <select id = "supplySorter">
                <option value='0' selected="selected">All</option>
                {% for supplier in suppliers %}
                     <option value={{ supplier.id }}>{{ supplier.name }}</option>
                {% endfor %}
            </select>
    <div class="products-container">
        <div id="sub-title">
            <h2>Products</h2>
        </div>

    </div>
    <div id="products-collection">

    </div>
    </div>


{% endblock %}