{% extends "root.html" %}
{% block title %} Home {% endblock %}
{% block head %}
    <script type="module" src="/static/javascript/home_page.js" defer></script>
{% endblock %}
{% block content %}
    <div class ="live_slider">
        <div class="arrow-btn next-btn" id="previous-arrow"> </div>
        <div class="arrow-btn prev_btn" id="next-arrow"> </div>
    </div>
    <div class="products-container">
        <div id="sub-title">
            <h2>Products</h2>
        </div>
        <div id="products-collection">
        </div>
    </div>


{% endblock %}