{% extends "root.html" %}
{% block title %} Home {%  endblock %}
{% block head %}
    <script type="module" src="/static/javascript/products.js" async></script>
{% endblock %}
{% block content %}
    <div class="card-big">
        <img class="big-product-image" src="/static/images{{ img_path }}" alt="">
        <div class="card-header">
            <h4>{{ product.name }}</h4>
            <p class="card-text">{{ product.description }} </p>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p class="lead">{{ product.actual_price }}</p>
            </div>
            <div class="card-text">
                <button class="btn btn-success">Add to cart</button>
            </div>
        </div>
    </div>
    <div class="products-container" style="display: flex">
        <div id="sub-title">
            <h2>Products</h2>
        </div>
        <section class="card">

        </section>
    </div>
{% endblock %}