<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iHealth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selector_style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_form.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    </style>
    <!-- Smartsupp Live Chat script -->
    {% if email %}
        <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = '5d762624a8df9571378ad2401d5fbde67a2e36fb';
        window.smartsupp||(function(d) {
          var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
          s=d.getElementsByTagName('script')[0];c=d.createElement('script');
          c.type='text/javascript';c.charset='utf-8';c.async=true;
          c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
        })(document);
    </script>
    {% endif %}

    {% block head %}
    {% endblock %}
    <body>
        <nav class="navbar navbar-expand-lg ">
            <img class="navbar-brand" id="header-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="iHealth Logo" width="40px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for("home", categories=categories, suppliers=suppliers) }}">Consultation</a>
                    <a class="nav-item nav-link" href="{{ url_for("display_contact", categories=categories, suppliers=suppliers) }}">Contact</a>
                     <a class="nav-item nav-link" href="{{ url_for("home", categories=categories, suppliers=suppliers) }}">Partners</a>
                    <a class="nav-item nav-link" href="{{ url_for("home", categories=categories, suppliers=suppliers) }}">About us</a>

                </div>
                <form class="form-inline" action="{{ url_for("search") }}">
                    <div class="row">
                        <div class="col">
                            <input name="search" class="form-control mr-sm-2 navbar-right" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-light" id="search" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            {% if email %}
                <a class="nav-item nav-link" href="{{ url_for("cart_route", user_id=user_id) }}">Cart</a>
                        <a class="nav-item nav-link" href="{{ url_for("user_route", user_id=user_id) }}">{{ email }}</a>
                        <a class="nav-item nav-link" href="{{ url_for("logout") }}">Logout</a>
            {% else %}
                        <a class="nav-item nav-link right-items" href="{{ url_for("login") }}">Login</a>
                        <a class="nav-item nav-link right-items" href="{{ url_for("register") }}">Register</a>
            {% endif %}
        </nav>

        {% block content %}
        {% endblock %}

        <div class="bottom-header"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>