<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
               rel="stylesheet"/>
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/login_form.css" />


        {% block head %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    <div class="page">
        <div class="navbar">
            <ul>
                <li><a class="navbar-logo" href="{{ url_for("home") }}">IHealth</a></li>
                <li><a href="">List Questions</a></li>
                <li><a class="active" href="">Tags</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
                <li>
                    <form class="search-form" action="/search" method="get">
                        <input type="text" name="q" id="q" class="search-input" placeholder="Search..." required>
                        <button class="search-button" type="submit" ><span class="material-icons">search</span></button>
                    </form>
                </li>
                {% if email %}
                    <li class="right-items"><a class="logout-button" href={{ url_for("logout") }}>Logout</a></li>
                    <li class="right-items"><a href="{{ url_for("user_route", user_id=user_id) }}">{{ email }}</a></li>
                {% else %}
                    <li class="right-items"><a href="{{ url_for("login") }}">Login</a></li>
                    <li class="right-items"><a href="{{ url_for("register") }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="bottom-header"></div>
    </div>

    </body>
</html>