<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iHealth</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_form.css') }}" />
    {% block head %}
    {% endblock %}
    <body>
    <div class="page">
        <div class="navbar">
            <ul>
                <li><a class="navbar-logo" href="">IHealth</a></li>
                <li><a href="">List Questions</a></li>
                <li><a class="active" href="">Tags</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
                <li>
                    <form class="search-form" action="/search" method="get">
                        <input type="text" name="q" id="q" class="search-input" placeholder="Search..." required>
                        <button class="search-button" type="submit" ><span class="material-icons">search</span></button>
                    </form>
                </li>
                {% if username %}
                    <li class="right-items"><a href="{{ url_for("user_route", user_id=user_id) }}">{{ username }}</a></li>
                    <li class="right-items"><a href="{{ url_for("logout_user") }}">Logout</a></li>
                {% else %}
                    <li class="right-items"><a href="{{ url_for("display_login") }}">Login</a></li>
                    <li class="right-items"><a href="{{ url_for("display_register") }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="bottom-header"></div>
    </div>

    </body>
</html>